.mat-column-Id {
  max-width: 100px;
  padding: 3px;
}

.mat-column-Lote {
  max-width: 150px;
  padding: 3px;
  text-align: center;
}

.mat-column-Vencimento {
  max-width: 100px;
  padding: 3px;
  text-align: center;
}
.mat-column-CodigoFornecedor {
    max-width: 100px;
    padding: 3px;
  }

.mat-column-Fornecedor {
  max-width: 200px;
  padding: 3px;
}

.mat-column-Acao {
  max-width: 100px;
  padding: 3px;
  text-align: center;
}
