<h2>Detalhes encontrados para o LOTE informado</h2>
<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="Id">
    <th mat-header-cell *matHeaderCellDef>Detalhe#</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="Material">
    <th mat-header-cell *matHeaderCellDef>Material</th>
    <td mat-cell *matCellDef="let element">
      {{ element?.entradaItem.produto.name }}
    </td>
  </ng-container>
  <ng-container matColumnDef="Lote">
    <th mat-header-cell *matHeaderCellDef>Lote</th>
    <td mat-cell *matCellDef="let element">
      {{ element.lote }}
    </td>
  </ng-container>
  <ng-container matColumnDef="Vencimento">
    <th mat-header-cell *matHeaderCellDef>Vencimento</th>
    <td mat-cell *matCellDef="let element">
      {{ element.expirationAt | date: 'dd/MM/yyyy' : '-03:00' }}
    </td>
  </ng-container>
  <ng-container matColumnDef="Fornecedor">
    <th mat-header-cell *matHeaderCellDef>Fornecedor</th>
    <td mat-cell *matCellDef="let element">
      {{ element?.entradaItem.entrada.fornecedor.nickname }}
    </td>
  </ng-container>
  <ng-container matColumnDef="CodigoFornecedor">
    <th mat-header-cell *matHeaderCellDef>Cód no Forn</th>
    <td mat-cell *matCellDef="let element">
      {{ element?.entradaItem.produto.codigoFornecedor }}
    </td>
  </ng-container>
  <ng-container matColumnDef="Acao">
    <th mat-header-cell *matHeaderCellDef>Ação</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon class="pointer" title="Editar" (click)="save(element)">
        save</mat-icon
      >
    </td>
  </ng-container>
  <th mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></th>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
