<div>
  <span style="font-size: 32px;" (click)="FiltroOnOff()" class="material-symbols-outlined red">
    filter_alt
  </span>
  <div id="div-filtro" class="div-filtro" [hidden]="true">
    <div class="display-flex space-between">
      <p>
        <label class="w3-text-grey">Data início</label>
        <input class="w3-input w3-border" type="date">
      </p>
      <p>
        <label class="w3-text-grey">Data Final</label>
        <input class="w3-input w3-border" type="date">
      </p>
    </div>
    <p>
      <label class="w3-text-grey">Nome</label>
      <input class="w3-input w3-border" type="text">
    </p>
    <p>
      <mat-select id="country" name="country" placeholder="Selecione">
        <mat-option value="Curitiba">Curitiba</mat-option>
        <mat-option value="São Paulo">São Paulo</mat-option>
        <mat-option value="Rio de Janeiro">Rio de Janeiro</mat-option>
        <mat-option value="Lisboa">Lisboa</mat-option>
        <mat-option value="Londres">Londres</mat-option>
        <mat-option value="Roma">Roma</mat-option>
      </mat-select>
    </p>
    <p><button type="button" class="w3-btn w3-padding w3-blue" style="width:120px">Enviar &nbsp; ❯</button></p>

  </div>
</div>
