<div>
  <span style="font-size: 32px;" (click)="FiltroOnOff()" class="material-symbols-outlined red">
    filter_alt
  </span>
  <div id="div-filtro" class="div-filtro" [hidden]="true">
    <div class="display-flex space-between">
      <p>
        <label class="w3-text-grey">Data início</label>
        <input class="w3-input w3-border" type="date">
      </p>
      <p>
        <label class="w3-text-grey">Data Final</label>
        <input class="w3-input w3-border" type="date">
      </p>
    </div>
    <p>
      <label class="w3-text-grey">Nome</label>
      <input class="w3-input w3-border" type="text">
    </p>
    <p>
      <label class="w3-text-grey" for="country">Selecione</label>
      <select id="country" name="country">
        <option value="Curitiba">Curitiba</option>
        <option value="São Paulo">São Paulo</option>
        <option value="Rio de Janeiro">Rio de Janeiro</option>
        <option value="Lisboa">Lisboa</option>
        <option value="Londres">Londres</option>
        <option value="Roma">Roma</option>
      </select>
    </p>
    <p><button type="button" class="w3-btn w3-padding w3-red" style="width:120px">Enviar &nbsp; ❯</button></p>

  </div>
</div>
