<div
  class="display-flex div-header"
  *ngIf="configPaginator.totalLines > configPaginator.pageSize"
>
  <div>
    <p>
      <label class="w3-text-grey">Buscar por</label>
      <input class="w3-input w3-border" type="text" required="" />
    </p>
  </div>

  <span (click)="report()" class="material-symbols-outlined pointer">
    print
  </span>
  <div>
    <div class="display-flex flex-end" style="width: 500px">
      <button
        class="button font-12"
        (click)="jumpToFirst()"
        [ngClass]="{ 'visibility-hidden': configPaginator.firstPage == 1 }"
        title="Pular para  a primeira página"
      >
        &#60;&#60;
      </button>
      <button
        class="button font-12"
        (click)="jumpPrior()"
        [ngClass]="{ 'visibility-hidden': currentPage > 1 }"
        title="Primeira anterior"
      >
        &#60;
      </button>
      <button
        *ngFor="let butt of pagesList; let i = index"
        id="button{{ i }}"
        (click)="clickPage(butt, i)"
        class="button font-12"
        [ngClass]="butt == currentPage ? 'current-page' : ''"
      >
        {{ butt }}
      </button>

      <button
        class="button font-12"
        (click)="jumpNext()"
        [ngClass]="{ 'visibility-hidden': currentPage == pagesNumbers.length }"
        title="Próxima página"
        *ngIf="pagesNumbers.length > 5"
      >
        &#62;
      </button>

      <button
        class="button font-12"
        [ngClass]="{
          'visibility-hidden':
            configPaginator.lastPage == configPaginator.totalPages
        }"
        (click)="jumpToLast()"
        title="Pular para a última página"
        *ngIf="
          pagesNumbers.length > 5 || currentPage < configPaginator.totalPages
        "
      >
        &#62;&#62;
      </button>
    </div>
    <div class="display-flex justify-content-end items-aligh-center font-10">
      <button
        (click)="clickChangePageSize(-5)"
        title="-5 registros por página"
        *ngIf="configPaginator.pageSize > 5"
        class="button"
      >
        -</button
      >&nbsp;<button
        (click)="clickChangePageSize(+5)"
        title="+5 registros por página"
        class="button"
      >
        +
      </button>
      {{ configPaginator.pageSize }} p/ página |
      {{ pagesNumbers.length }} páginas | {{ configPaginator.totalLines }}
      registros
    </div>
  </div>
</div>

<table
  style="width: 100%"
  mat-table
  [dataSource]="filtredData"
  class="mat-elevation-z8"
>
  <!-- <caption>{{tableTitle}}</caption> -->
  <ng-container
    [matColumnDef]="column"
    *ngFor="let column of gridColumnsIds; let i = index"
  >
    <th class="th" mat-header-cell *matHeaderCellDef>
      {{ gridColumnsHeaders[i].columnHeader }}
    </th>
    <td
      class="td"
      [style]="gridColumnsHeaders[i].columnStyle"
      mat-cell
      *matCellDef="let element"
    >
      <img
        *ngIf="gridColumnsHeaders[i].columnName === 'avatar'"
        style="width: 40px"
        [src]="element?.avatar"
      />
      <span *ngIf="gridColumnsHeaders[i].columnType === 'text'">{{
        element[gridColumnsHeaders[i].columnName]
      }}</span>
      <span *ngIf="gridColumnsHeaders[i].columnType === 'date'">
        {{
          element[gridColumnsHeaders[i].columnName] | date: 'dd/MM/yyyy'
        }}</span
      >
      <span *ngIf="gridColumnsHeaders[i].columnAnother"
        ><br />{{ element[gridColumnsHeaders[i].columnAnother] }}</span
      >

      <div *ngIf="column === 'acao'">
        <span
          title="{{ opcao.text }} | id {{ opcao.id }} redirect {{
            opcao.redirect
          }}"
          class="material-symbols-outlined pointer {{ opcao.class }}"
          *ngFor="let opcao of element?.columnOptions"
          (click)="redirectTo(opcao, element, menuOptions, opcao.paramName)"
        >
          {{ opcao.icon }}
        </span>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="gridColumnsIds"></tr>
  <tr mat-row *matRowDef="let row; columns: gridColumnsIds"></tr>
</table>

<span *ngIf="tableData?.length == 0" style="color: blue; font-size: 16px"
  >Nenhuma informação disponível</span
>
